 footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 2500px;
    bottom: auto;
    background: var(--grey-0);
}

footer h3 {
    color: var(--grey-4);
}
