.section2 {
    display: flex;
    margin: 1px 370px;
    width: 1350px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    background: var(--grey-1);
    justify-content: space-between;
}

.section2 h2 {
    height: 45px;
    color: var(--grey-5);
    padding: 0px 236px;
    margin-left: -375px;
    display: flex;
    align-items: start;
}

.section2 p {
    width: 611px;
    height: 120px;
    color: var(--grey-4);
    display: flex;
    align-items: center;
    justify-content: center;
}
