 .section3 {
    display: flex;
    justify-content: center;
    margin-bottom: -300px;
    background-color: var(--grey-2);
}
  
.div1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 82px 236px;
    width: 460px;
    height: 240px;
}

.div1 span:hover {
    background-color: var(--brand-2);
    color:  rgba(255, 255, 255, 1);
}
  
.div1 h2 {
    color: var(--grey-5);
}
  
.div1 p {
    color: var(--grey-3);
}
  
.div1 span {
    top: 19.5px;
    left: 32px;
    text-align: center;
    color: var(--grey-5);
    background-color: var(--brand-1);
    padding: 20px;
}
  
.div2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 82px 236px;
    width: 614px;
    height: 968px;
}
  
.div2 span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
  
.div2 span p {
    position: relative;
    color: var(--grey-3);
    top: 0;
}
  
.div2 span h3 {
    text-align: center;
    color: var(--grey-5);
    margin: 0;
    margin-bottom: -10px;
}
